<div class="form-group address-container">
  <label for="address-select" class="address-children address-label"
    >Select which <strong>{{ selectedShop }}</strong> you want</label
  >
  <select
    [formControl]="addressSelector"
    class="form-control address-children"
    id="address-select"
  >
    <option value="Default" disabled>Select One...</option>
    <option
      *ngFor="let selectedShop of selectedShops$ | async"
      value="{{ selectedShop.id }}"
      (click)="selected()"
    >
      {{ selectedShop.address }}</option
    >
  </select>
</div>
