<div class="mainDiv">
  <div *ngFor="let control of itemsFormArray.controls; let i = index" class="input-group mb-3 margins shopping-list">
    <div class="input-group-prepend">
      <span class="input-group-prepend input-group-text" id="basic-addon3">New Item</span>
    </div>
    <input type="text" [formControl]="control" (keydown.enter)="addClicked(i)" class="form-control" id="basic-url" aria-describedby="basic-addon3" />
    <div class="input-group-append">
      <button *ngIf="!buttonClicked[i]" class="input-group-append btn btn-success" (click)="addClicked(i)">
        Add
      </button>
      <button *ngIf="buttonClicked[i]" class="input-group-append btn btn-danger" (click)="addClicked(i)">
        Remove
      </button>
    </div>
  </div>
  <button [disabled]="itemsFormArray.length < 2" class="btn btn-primary margins submit-button" (click)="submit()">Submit</button>
</div>

<div *ngFor="let control of itemsFormArray.controls; let i = index">
  {{ itemsFormArray.controls[i].value }}
</div>